#parent {
    display: flex;
  }
  #side {
    width: 200px;
    background: lightslategray;
    /* Just so it's visible */
  }
  #main {
    flex: 1;
    /* Grow to rest of container */
    background: lightgrey;
    /* Just so it's visible */
  }